
.edit-spot-form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto 10px;
    justify-content: center;
}

.form-field {
    width: 100%;
    height: 50px;
}


.edit-spot-form-header img {
    margin-left: 5px;
    padding-top: 5px;
}

.edit-spot-form-header span {
    font-size: 25px;
}

.spot-submit-button {
    height: 50px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    margin: 30px auto;
    border-style: none;
    border-radius: 5px;
    
}