
.delete-spot-button-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 130px;
    width: 200px;
    padding: 20px;
}

.delete-spot-button-div {
    padding-top: 40px;
    width: 100%;
}

.delete-spot-button-div button {
    background: none;
    height: 50px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    border-style: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(245, 90, 130);
    cursor: pointer;
}