
/* CSS */

.spot-image-div {
    display: flex;
    height: 15vw;
    max-width: 400px;
    border-radius: 20px;
    padding: 10px;
}

.spot-preview-image {
    border-radius: 10px;
}
.spot-location {
    font-weight: bold;
}

.spot-data {
    margin-left: 14px;
}

