.hidden {
    display: none;
}

.logo {
    width: 50px;
    height: auto;
}

.nav {
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.nav-left {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: left;
}

.nav-right {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 175px;
    align-items: center;
}

a:visited {
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

i {
    padding: 5px;
}

.site-title {
    padding: 5px;
    color: black;
    font-weight: bold;
    font-family: cursive;
    font-style: italic;
    position:absolute;
    left: 17%;
    top: 30px;
}

.create-spot-button {
    font-size: 14px;
    font-weight: 500;
    background: white;
    border: 0;
    margin-right: -10px;
    border-radius: 50px;
    height: 40px;
}
.create-spot-button:hover {
    background: rgb(235, 235, 235); 
}

.host-thy-home-div {
    margin-right: 5px;
    padding: 5px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 100px;
    color: grey;
    background: white;
    height: 70%;
}

.profile-dropdown {
    background: white;
    width: 242px;
    position: absolute;
    font-size: 14px;
    top: 70px;
    right: 39px;
    border-radius: 10px;
    border: 2px solid grey;
    padding: 2px;
    /* width: 145px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profile-dropdown div {
    list-style-type: none;
    /* border-bottom: 1px solid black; */
    padding-top: 4px;
    padding-bottom: 2px;
    /* padding-left: 5px; */
    font-size: 14px;
    align-self: start;
    overflow: hidden;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
/* 
.profile-dropdown-div {
    border: 2px solid grey;
} */

.site-logo {
    height: 110%;
    width: 110%;
}

.profile-button-div {
    float: right;
    align-self: center;
}

.auth-buttons {
    padding: 5px;
    background: none;
    display: flex;
    border: none;
    width: 100%;
    border-radius: 10px;
    font-weight: 100;
}

.demo-user-login {
    background: none;
    display: flex;
    border: none;
    width: 100%;
    border-radius: 10px;
    font-size: 14px;
    padding-top: 10px;
    font-weight: 100;
}

.demo-user-login:hover {
    background-color: lightgrey;
}

.auth-buttons:hover {
    background-color: lightgrey;
}

.auth-buttons div {
    align-self: start;
}

.dropdown-username {
    padding: 10px 0px;
    padding-left: 8px;
}

.dropdown-fullname {
    padding: 10px 0px;
    padding-left: 8px;
}

.dropdown-email {
    padding: 10px 0px;
    padding-left: 8px;
}

.logout-button {
    background: none;
    border: 0px;
    font-size: 14px;
    width: 100%;
    /* border-radius: 0px 0px 10px 10px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 6px;
    padding-bottom: 6px;

}

.dropdown-logout-div {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 2px;
    border-radius: 10px;
    align-items: center;
}

.logout-button:hover {
    background-color: rgb(241, 241, 241);
}