
.form-field {
    width: 100%;
    padding: 5px;
    height: 50px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto 10px;
    justify-content: center;
}

.submit-button {
    height: 50px;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    margin: 30px auto;
    border-style: none;
    border-radius: 5px;   
}

.close-out-button {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.login-form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-right: 40%;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px;
}

.login-form-title-wrapper {
    margin-right: 275px;
}
